body {
    background-color: #1c1f24;
    margin: 0px;
}

@keyframes colorchange {
    0%   {color: #fff;}
    50%  {color: blueviolet;}
    100%  {color: white;}
}

.nama {
    color: #fff;
    font-size: 30px;
    text-align: center;
    /*text-shadow: 0px 0px 20px blue;*/
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 2px 0px 2px 15px;
    cursor: grabbing;
    transition: 700ms ease-out;
    animation: colorchange 5s ease-in 5s infinite;
} .nama:hover {
    /* transform: rotateX(180deg) translate(50px, 0px); */
    /* transform: translate(50px, 50px); */
    /* transform: skew(30deg); */
    /* filter: blur(5px); */
    filter: drop-shadow(5px 5px 2px #1c1f24);
}

.navbar{
    display: flex;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-between;
    font-family: Helvetica;
    font-weight: 100;
}

.list_nav {
    list-style: none;
    display: flex;
    column-gap: 10px;
    margin-right: 15px;
}

.link_nav {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 30px;
    letter-spacing: 1px;
}

.link_nav::after {
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 2px;
    background-color: #1c1f24;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.link_nav:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* INI CSS UNTUK CV */
.bio {
    font-family: Helvetica;
    padding: 30px 30px 30px 30px;
    color: white;
}

.bname {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 10px;
}

/* .cards {
    perspective: 500px;
} .card {
    width: 100px; height: 150px;
    background: url(/image/foto-taruna.jfif) center no-repeat;
    background-size: cover;
    border: 1px solid rgba(2555, 255, 255, .25); 
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
} .card:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
} .card_title {
    color: #fff;
    position: absolute;
    top: 50%; right: 10px;
    transform: translateY(-50%);
    transition: transform .5s;
} .card:hover .card_title {
    transform: translateZ(50px);
} */
